<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= kindOfDay %> </h1>
    <!-- <p>You should be working.</p> -->

    <ul>
        <!-- <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li> -->
        <!-- <li> <%= newListItems %> </li> -->

        <% for (var i =0; i<newListItems.length; i++){ %>
           <li> <%= newListItems[i] %> </li> <!--No need for <% %> cause it is html code.-->
        <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit">Add</button>
    </form>

</body>
</html>