<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1> <%= kindOfDay %> </h1>
    </div>
    <!-- <p>You should be working.</p> -->

    <div class="box">
        
        <% for (var i =0; i<newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
           <p> <%= newListItems[i] %> </p> <!--No need for <% %> cause it is html code.-->
        
        </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>

    

    

</body>
</html>

<!-- Old List Code -->
<!-- <ul> -->
        <!-- <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li> -->
        <!-- <li> <%= newListItems %> </li> -->
<!-- </ul> -->